<app-admin-header />
<app-admin-sidebar />
<!-- Content -->
<div class="ml-64 p-8 mt-20">
  <!-- Table -->
  <table class="min-w-full">
    <thead>
      <tr>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          ID
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Username
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          DOB
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Email
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Active
        </th>
        <th class="px-6 py-3 bg-gray-800"></th>
        <!-- Empty cell for actions -->
      </tr>
    </thead>
    <tbody
      class="bg-gray-700 text-yellow-100 divide-y divide-gray-600 items-center justify-center"
    >
      <!-- Dummy data -->
      <tr *ngFor="let user of users; let i = index">
        <td class="px-6 py-4 whitespace-pre-wrap">{{ i + 1 }}</td>
        <td class="px-6 py-4 whitespace-pre-wrap">{{ user.username }}</td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          <ng-container *ngIf="user.dateofbirth; else nil">{{
            user.dateofbirth | date : "shortDate"
          }}</ng-container>
          <ng-template #nil>Nill</ng-template>
        </td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          {{ user.email | emailpipe }}
        </td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          <div class="flex items-center">
            <div
              *ngIf="!user.isblocked"
              class="h-3 w-3 rounded-full mr-2 bg-green-500 animate-bounce"
            ></div>
            <div
              *ngIf="user.isblocked"
              class="h-3 w-3 rounded-full mr-2 bg-red-500 animate-bounce"
            ></div>
          </div>
        </td>
        <td class="px-6 py-4 whitespace-pre-wrap flex">
          <button (click)="user['showDialog'] = true">
            {{ user.isblocked ? "Unblock" : "Block" }}
          </button>

          <p-dialog
            header="Block/Unblock User"
            [modal]="true"
            [(visible)]="user['showDialog']"
            [style]="{ width: '25rem' }"
          >
            <span class="p-text-secondary block mb-5"
              >Are you sure you want to
              {{ user.isblocked ? "unblock" : "block" }} user
              <span class="font-bold text-red-500"> {{ user.username }}</span
              >?</span
            >
            <div class="flex justify-content-end gap-2">
              <p-button
                label="Cancel"
                severity="secondary"
                (click)="user['showDialog'] = false"
              />
              <p-button label="Confirm" (click)="toggleBlockStatus(user)" />
            </div>
          </p-dialog>
        </td>
      </tr>
      <!-- Example of adding pagination controls -->

      <!-- Add more rows as needed -->
    </tbody>
  </table>
  <div class="pagination-controls">
    <button
      type="button"
      class="px-4 py-2 border border-gray-300 hover:bg-gray-400 hover:text-white transition duration-150 ease-in-out"
      (click)="prevPage()"
    >
      Previous
    </button>
    <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      type="button"
      class="px-4 py-2 border border-gray-300 hover:bg-gray-400 hover:text-white transition duration-150 ease-in-out"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>
