<div class="container mx-auto px-4 sm:px-6 py-12 sm:py-6">
  <div class="px-4 sm:px-6 py-12 sm:py-4 overflow-x-auto">
    <div class="min-w-full rounded-xl bg-gray-900 bg-opacity-90 backdrop-blur-md shadow-2xl overflow-hidden">
      <!-- Conditionally display the table or no members message -->
      <div *ngIf="members.length > 0; else noMembers">
        <table class="min-w-full leading-normal text-white">
          <thead>
            <tr>
              <th
                class="px-4 sm:px-6 py-3 border-b-2 border-gray-700 bg-gray-800 text-left text-xs font-semibold uppercase tracking-wider"
              >
                User
              </th>
              <th
                class="px-4 sm:px-6 py-3 border-b-2 border-gray-700 bg-gray-800 text-left text-xs font-semibold uppercase tracking-wider"
              >
                Channel
              </th>
              <th
                class="px-4 sm:px-6 py-3 border-b-2 border-gray-700 bg-gray-800 text-left text-xs font-semibold uppercase tracking-wider"
              >
                Month
              </th>
              <th
                class="px-4 sm:px-6 py-3 border-b-2 border-gray-700 bg-gray-800 text-left text-xs font-semibold uppercase tracking-wider"
              >
                Created At
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members">
              <td
                class="px-4 sm:px-6 py-4 border-b border-gray-700 bg-gray-800 hover:bg-gray-700 transition-colors duration-300"
              >
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img
                      class="w-full h-full rounded-full"
                      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                      alt="User Avatar"
                    />
                  </div>
                  <div class="ml-3 sm:ml-4">
                    <p class="text-blue-300 whitespace-no-wrap">
                      {{ member.members.userId }}
                    </p>
                  </div>
                </div>
              </td>
              <td
                class="px-4 sm:px-6 py-4 border-b border-gray-700 bg-gray-800 hover:bg-gray-700 transition-colors duration-300"
              >
                <p class="text-blue-300 whitespace-no-wrap">
                  {{ member.members.userChannelId }}
                </p>
              </td>
              <td
                class="px-4 sm:px-6 py-4 border-b border-gray-700 bg-gray-800 hover:bg-gray-700 transition-colors duration-300"
              >
                <p class="text-blue-300 whitespace-no-wrap">
                  {{ member.members.channelPlanId }}
                </p>
              </td>
              <td
                class="px-4 sm:px-6 py-4 border-b border-gray-700 bg-gray-800 hover:bg-gray-700 transition-colors duration-300"
              >
                <p class="text-blue-300 whitespace-no-wrap">
                  {{ member.createdAt | date : "medium" }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="px-4 sm:px-6 py-3 sm:py-4 bg-gray-800 border-t border-gray-700 flex flex-col xs:flex-row items-center xs:justify-between"
        >
          <div class="inline-flex mt-2 xs:mt-0">
            <button
              (click)="prevPage()"
              class="text-sm bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-l transition-colors duration-300"
            >
              Prev
            </button>
            <span class="mx-4 text-blue-200">Page {{ currentPage }} of {{ totalPages }}</span>
            <button
              (click)="nextPage()"
              class="text-sm bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-r transition-colors duration-300"
            >
              Next
            </button>
          </div>
        </div>
      </div>
      <!-- Template for no members message -->
      <ng-template #noMembers>
        <div
          class="px-4 sm:px-6 py-4 sm:py-6 bg-gray-800 text-center text-blue-300 font-semibold"
        >
          No active members
        </div>
      </ng-template>
    </div>
  </div>
</div>