<div class="container mx-auto px-4 sm:px-8">
  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
      <!-- Conditionally display the table or no members message -->
      <div *ngIf="members.length > 0; else noMembers">
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-500 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                User
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-500 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Channel
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-500 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Month
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-500 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Created at
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members">
              <td
                class="px-5 py-5 border-b border-gray-200 bg-gray-400 text-sm"
              >
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img
                      class="w-full h-full rounded-full"
                      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="text-red-900 whitespace-no-wrap">
                      {{ member.members.userId }}
                    </p>
                  </div>
                </div>
              </td>
              <td
                class="px-5 py-5 border-b border-gray-200 bg-gray-400 text-sm"
              >
                <p class="text-red-900 whitespace-no-wrap">
                  {{ member.members.userChannelId }}
                </p>
              </td>
              <td
                class="px-5 py-5 border-b border-gray-200 bg-gray-400 text-sm"
              >
                <p class="text-red-900 whitespace-no-wrap">
                  {{ member.members.channelPlanId }}
                </p>
              </td>
              <td
                class="px-5 py-5 border-b border-gray-200 bg-gray-400 text-sm"
              >
                <p class="text-red-900 whitespace-no-wrap">
                  {{ member.createdAt | date : "medium" }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="px-5 py-5 bg-gray-400 border-t flex flex-col xs:flex-row items-center xs:justify-between"
        >
          <div class="inline-flex mt-2 xs:mt-0">
            <button
              (click)="prevPage()"
              class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l transition-colors duration-300"
            >
              Prev
            </button>
            <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
            <button
              (click)="nextPage()"
              class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r transition-colors duration-300"
            >
              Next
            </button>
          </div>
        </div>
      </div>
      <!-- Template for no members message -->
      <ng-template #noMembers>
        <div
          class="px-5 py-5 bg-gray-400 text-center text-red-900 font-semibold"
        >
          No active members
        </div>
      </ng-template>
    </div>
  </div>
</div>
