<div class="flex flex-col md:flex-row bg-gray-800 h-full mb-5">
  <div class="mt-7 md:mt-0 md:w-1/4"><app-recommendation /></div>

  <div class="w-full md:w-3/4 mb-10 md:m-7">
    <!-- Banner of the channel -->
    <div class="relative mb-4">
      <img
        *ngIf="_channel"
        src="https://onlineecart.shop/channelBanner/{{ _channel.banner }}"
        class="w-full rounded-sm h-56 md:h-64 lg:h-72 z-0"
        alt="Channel Banner"
      />
      <!-- <img
        src="\assets\Images\channel-banner1.png"
        class="w-full rounded-sm h-56 md:h-64 lg:h-72"
        alt="Channel Banner"
      /> -->
    </div>
    <!-- Profile with channel name and followers -->
    <div class="flex items-center justify-between p-4 bg-gray-800">
      <div class="flex items-center justify-between">
        <div class="relative">
          <img 
            class="md:w-14 h-20 w-40 md:h-14 rounded-full"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRKgUUpHpc-JwcJiRLScAepL-T3oeaxR8T5A&s"
            alt=""
          />
          <span
            class="top-0 left-7 absolute w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"
          ></span>
        </div>
        <div *ngIf="_channel" class="flex flex-col ml-2">
          <span class="text-lg text-white font-bold ml-2">
            {{ _channel.channelName }}</span
          >
          <span class="font-bold ml-2 text-blue-300"
            >Followers: {{ _channel && _channel.followers.length }}</span
          >
        </div>
        <div *ngIf="_channel && !_channel.isblocked">
          <i
            (click)="showDialog()"
            [pTooltip]="tooltipContent"
            severity="secondary"
            tooltipPosition="bottom"
            class="pi pi-pencil ms-3 mb-2"
            style="font-size: 1.5rem; color: lightcoral"
          ></i>
          <ng-template #tooltipContent>
            <div class="flex align-items-center">
              <span>Edit Channel</span>
            </div>
          </ng-template>
        </div>

        <!-- Edit Icon -->
      </div>
      <div class="flex items-center">
        <div class="cursor-pointer p-2">
          <!-- Enhanced Upload Icon with Hover Effect -->
          <button
            class="bg-yellow-50 px-1 py-2.5 mb-2 text-black border rounded-md hover:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out transform"
            (click)="showModal()"
          >
            <i class="pi pi-upload mx-2"></i>Upload Shorts
          </button>
        </div>
        <div class="md:block hidden" *ngIf="_channel">
          <button
            disabled
            type="button"
            class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          >
            {{ _channel.isblocked ? "Blocked" : "Active" }}
          </button>
        </div>
      </div>
    </div>

    <!-- Content of the session -->
    <div class="p-4 text-lg space-x-5 font-bold">
      <div class="p-4 flex text-lg space-x-5 font-bold">
        <label for="videos" class="text-white">
          Clips
          <input
            checked
            type="radio"
            id="shorts"
            name="content"
            [(ngModel)]="_selectedContent"
            value="shorts"
          />
        </label>
        <label for="live" class="text-white">
          Live
          <input
            type="radio"
            id="live"
            name="content"
            [(ngModel)]="_selectedContent"
            value="live"
          />
        </label>
        <label for="followers" class="text-white">
          Followers
          <input
            type="radio"
            id="followers"
            name="content"
            [(ngModel)]="_selectedContent"
            value="followers"
          />
        </label>
      </div>

      <!-- Dynamic Content Display Based on Selection -->
      <div
        id="videosContainer"
        class="content-container"
        *ngIf="_selectedContent === 'shorts'"
      >
        <!-- <ul>
          <li *ngFor="let video of channel?.video; else noVideo">
            <video controls>
              <source [src]="video" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </li>
        </ul>  -->
        <!--      
          <video class="h-29 w-7" controls autoplay muted>
            <source src="" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->
        <!-- <video #target class="video-js" controls muted playsinline preload="none"></video> -->
        <div class="card">
          <!-- Check if followChannel.video is available and has at least one item -->
          <ng-container *ngIf="_channel?.video?.length; else singleVideo">
            <p-carousel
              [value]="_channel.video"
              [numVisible]="3"
              [numScroll]="3"
              [responsiveOptions]="_responsiveOptions"
            >
              <ng-template let-videoItem pTemplate="item">
                <div class="video-card">
                  <video
                    #target
                    class="h-44 w-48"
                    [src]="videoItem.url"
                    controls
                    muted
                    (play)="onVideoPlay(videoItem.url)"
                  ></video>
                  <div class="video-info">
                    <span>{{ videoItem.views }} Views</span>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </ng-container>

          <!-- Template for single video when followChannel.video is not available or empty -->
          <ng-template #singleVideo>
            <video
              #target
              class="video-js h-44 w-45"
              src="assets\Videos\WhatsApp Video 2020-09-16 at 8.41.02 PM.mp4"
              controls
              muted
              playsinline
              preload="none"
            ></video>
          </ng-template>
        </div>
      </div>

      <div
        id="liveContainer"
        class="content-container"
        *ngIf="_selectedContent === 'live'"
      >
        <p>This is where your live videos will be displayed.</p>
      </div>

      <div
      id="followContainer"
      class="content-container overflow-y-auto h-64" 
      *ngIf="_selectedContent === 'followers'"
    >
      <ul *ngIf="_channel.followers; else noFollowers">
        <li class="flex justify-around" *ngFor="let follower of _channel.followers">
          {{ follower.username }}
        </li>
      </ul>
      <ng-template #noFollowers>
        <p>No followers</p>
      </ng-template>
    </div>
    
    </div>
  </div>
</div>

<!-- Modal for asking the edii form --><p-dialog
  header="Update your Channel_Info!"
  [(visible)]="_visible"
  [style]="{ width: '25rem' }"
  class="bg-gray-800 text-white"
>
  <form [formGroup]="_channelForm" (ngSubmit)="onSubmit()">
    <div *ngIf="_channel" class="flex flex-col gap-3 mb-3 p-4">
      <label for="channelName" class="font-semibold text-lg">ChannelName</label>
      <input
        pInputText
        id="channelName"
        accept="image/*"
        formControlName="channelName"
        class="flex-auto bg-gray-200 text-dark border-none rounded-md p-2"
        autocomplete="off"
        placeholder="{{ _channel.channelName }}"
      />
    </div>
    <div class="flex flex-col gap-3 mb-5 p-4">
      <label for="banner" class="font-semibold text-lg">Banner</label>
      <div
        class="flex items-center justify-between bg-gray-200 rounded-md p-2 cursor-pointer"
        (click)="openFilePicker()"
      >
        <span *ngIf="!_previewImage" class="text-gray-600"
          >Select Banner Image</span
        >
        <input
          #bannerInput
          id="banner"
          type="file"
          class="hidden"
          (change)="changeBanner($event)"
          autocomplete="off"
        />
        <div class="">
          <img
            *ngIf="_previewImage"
            [src]="_previewImage"
            alt="Selected Image"
            class="w-32 h-32 object-cover rounded-md ml-2"
          />
          <!-- Add this line -->
        </div>
      </div>
    </div>

    <div class="flex justify-end gap-2 p-4">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="_visible = false"
        class="bg-red-600 text-white rounded-md px-4 py-2"
      />
      <p-button
        label="Save"
        type="submit"
        class="bg-green-500 hover:bg-green-600 text-white rounded-md px-4 py-2"
      />
    </div>
  </form>
</p-dialog>

<!-- Progress Spinner -->

<!-- The Modal -->

<div class="card flex justify-content-center">
  <p-dialog
    header="Upload Shorts"
    [modal]="true"
    [(visible)]="_isModalVisible"
    [style]="{ width: '35rem' }"
  >
    <div
      class="modal-content relative bg-white rounded shadow-lg w-11/12 md:w-3/4 lg:w-1/2 p-4"
    >
      <!-- Overlay for loading spinner -->
      <div
        *ngIf="_isLoading"
        class="modal-progress-overlay absolute inset-0 flex items-center justify-center bg-white bg-opacity-75 z-10"
      >
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
      </div>
      <div *ngIf="!_filePreview" class="flex items-center justify-center w-full">
        <label
          for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        >
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg
              class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span>
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">
              MP4, AVI, MOV (MAX. 10MB)
            </p>
          </div>
          <input
            id="dropzone-file"
            type="file"
            class="hidden"
            (change)="onFileSelected($event)"
            accept="video/*"
          />
        </label>
      </div>
      <div
        *ngIf="_filePreview"
        class="preview mt-4 flex items-center justify-center"
      >
        <video [src]="_filePreview" controls muted class="w-full h-auto"></video>
      </div>
      <div *ngIf="_filePreview" class="flex justify-center mt-4">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          (click)="submitFile()"
        >
          Submit
        </button>
      </div>
    </div>
  </p-dialog>
</div>
