<div class="fixed top-0 left-0 mt-20 h-full bg-gray-800 w-64 py-4 px-2 text-white">
    <!-- Admin Profile -->
    <div class="flex items-center mb-8 px-4">
        <!-- Admin Image -->
        <div class="w-12 h-12 rounded-full overflow-hidden mr-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy7nFdX1g_CVR4WyP5LgKOGytP0J8PE53_RQ&s" alt="Admin Profile Image">
        </div>
        <!-- Admin Name with Indicator -->
        <div>
            <p class="text-lg font-semibold">Admin Name</p>
            <div class="flex items-center mt-1">
                <div class="h-3 w-3 bg-green-500 rounded-full mr-2 mb-3 animate-ping"></div>
                <p>Active</p>
            </div>
        </div>
    </div>

    <!-- Navigation Links -->
    <ul class="text-lg mb-8">
        <li class="mb-4"><a routerLink="/admin/dashboard" class="block py-2 px-4 text-gray-300 hover:text-white">Dashboard</a></li>
        <li class="mb-4"><a routerLink="/admin/usermangement" class="block py-2 px-4 text-gray-300 hover:text-white">Users</a></li>
        <li class="mb-4"><a href="#" class="block py-2 px-4 text-gray-300 hover:text-white">Channels</a></li>
        <li class="mb-4"><a href="#" class="block py-2 px-4 text-gray-300 hover:text-white">Live Management</a></li>
        <li class="mb-4"><a href="#" class="block py-2 px-4 text-gray-300 hover:text-white">Revenue Management</a></li>
    </ul>
</div>