<div
  class="w-full z-50 h-full bg-gray-900 text-red-700 flex flex-col items-center justify-center"
>
  <!-- Video container -->
  <div class="flex justify-center h-3/4 w-full">
    <!-- <video " controls>
        <source src="assets\Videos\WhatsApp Video 2020-09-16 at 8.41.02 PM.mp4" type="video/mp4">
      </video> -->
    <iframe
      class="w-full h-auto border border-gray-200 rounded-lg dark:border-gray-700"
      src="https://www.youtube.com/embed/C--Y68oTeHc?si=K_jKVFOeDt646Og3?muted=1;authoplay=1"
      frameborder="0"
      allow=" autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <!-- <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/C--Y68oTeHc?si=K_jKVFOeDt646Og3"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe> -->
  </div>
  <!-- Bottom section with rounded avatar and buttons -->
  <div class="flex items-center justify-between w-full p-4">
    <!-- Avatar -->
    <div class="rounded-full flex h-10 w-14">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkL_zpTULJ9oHSTLYX2iaSAeeCxoPUi3hWKQ&s"
        alt="Avatar"
        class="w-full mr-5 rounded-full h-full object-cover"
      />
      <p class="text-green-300 text-lg">Max Borewell</p>
    </div>
    <!-- Follow and Subscribe buttons -->
    <div class="flex">
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2 hover:bg-blue-600 transition duration-300 ease-in-out"
      >
        Follow
      </button>
      <button
        class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out"
      >
        Subscribe
      </button>
    </div>
  </div>
</div>
