<app-admin-header />
<app-admin-sidebar />
<!-- Content -->
<div class="ml-64 p-8 mt-20">
  <!-- Dashboard Summary -->
  <div class="grid grid-cols-2 gap-4">
    <!-- Users -->
    <div class="bg-white rounded-lg p-6 shadow-lg">
      <h2 class="text-lg font-semibold mb-4">Users</h2>
      <div class="flex items-center">
        <div
          class="h-10 w-10 bg-gray-500 rounded-full flex items-center justify-center text-white mr-4"
        >
          100
        </div>
        <p class="text-gray-700">Total Users</p>
      </div>
    </div>
    <!-- Channels -->
    <div class="bg-white rounded-lg p-6 shadow-lg">
      <h2 class="text-lg font-semibold mb-4">Channels</h2>
      <div class="flex items-center">
        <div
          class="h-10 w-10 bg-gray-500 rounded-full flex items-center justify-center text-white mr-4"
        >
          50
        </div>
        <p class="text-gray-700">Total Channels</p>
      </div>
    </div>
    <!-- Live Streams -->
    <div class="bg-white rounded-lg p-6 shadow-lg">
      <h2 class="text-lg font-semibold mb-4">Live Streams</h2>
      <div class="flex items-center">
        <div
          class="h-10 w-10 bg-gray-500 rounded-full flex items-center justify-center text-white mr-4"
        >
          20
        </div>
        <p class="text-gray-700">Total Live Streams</p>
      </div>
    </div>
  </div>
  <div class="card">
    <p-chart type="bar" [data]="data" [options]="options" />
</div>
<div class="card">
  <p-chart type="line" [data]="data" [options]="options" />
</div>

</div>
