<div class="w-full h-screen flex">
  <div class="w-2/12 hidden md:block">
    <app-recommendation></app-recommendation>
  </div>
  <div class="md:w-10/12 w-full bg-gray-900 text-red-700">
    <div class="flex flex-col justify-center h-full md:px-8 md:py-20">
      <div class="md:max-w-7xl w-full mx-auto">
        <div class="ps-7 mb-8">
          <h1 class="text-3xl font-bold text-white">Followed Channels</h1>
        </div>
        <div *ngIf="_followedChannels && _followedChannels.length > 0">
          <p-carousel
            [value]="_followedChannels"
            [numVisible]="3"
            [numScroll]="3"
            [responsiveOptions]="_responsiveOptions"
            class="gap-4"
          >
            <ng-template let-channel pTemplate="item">
              <!-- Individual Channel Card -->
              <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
                <img
                  [src]="
                    'https://onlineecart.shop/channelBanner/' + channel.banner
                  "
                  alt="Channel Image"
                  class="w-full h-56 object-cover object-center"
                />
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2 text-white">
                    {{ channel.channelName }}
                  </div>
                  <p class="text-gray-400 text-base">
                    {{ channel.description }}
                  </p>
                  <div class="mt-4 flex justify-between items-center">
                    <a
                      [routerLink]="['/channel/following', channel._id]"
                      class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded"
                      >View Channel</a
                    >
                    <div class="text-gray-300 text-sm">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="w-6 h-6 inline-block mr-1"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M6.27 2.12a1 1 0 011.41 0l6 6a1 1 0 01-1.41 1.41L10 5.41V16a1 1 0 01-2 0V5.41L5.66 9.53a1 1 0 01-1.41-1.41l6-6z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <span>{{ channel.followers.length }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div *ngIf="!_followedChannels || _followedChannels.length === 0">
          <p class="text-gray-400 text-center">No followed channels found.</p>
        </div>
      </div>
    </div>
  </div>
</div>
