// .card {
//   transition: transform 0.3s ease-in-out;
// }

// .card:hover {
//   transform: scale(1.05);
// }

button {
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #007bff;
}

.swiper {
  width: 600px;
  height: 300px;
}
