<div class="flex justify-evenly mb-4">
  <button
    class="flex items-center text-white bg-blue-500 rounded-md px-4 py-2 hover:bg-blue-700"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 mr-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
      />
    </svg>
    Games
  </button>
  <button
    class="flex items-center text-white bg-blue-500 rounded-md px-4 py-2 hover:bg-blue-700"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 mr-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
      />
    </svg>
    Tutorial
  </button>
  <button
    class="flex items-center text-white bg-blue-500 rounded-md px-4 py-2 hover:bg-blue-700"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 mr-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
      />
    </svg>
    Vlog
  </button>
  <button
    class="flex items-center text-white bg-blue-500 rounded-md px-4 py-2 hover:bg-blue-700"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 mr-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
      />
    </svg>
    Festival
  </button>
</div>
<!-- Recommended Channels -->
<h2 class="text-xl font-bold mb-4">Recommended Channels</h2>
<!-- Cards for Recommended Channels -->
<!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">


  <div
    *ngFor="let channel of recommendedChannels"
    class="border rounded-lg shadow-md p-4 cursor-pointer transition duration-300"
  >
    <div class="relative">
      <img
        src="http://localhost:3000/channelBanner/{{ channel.banner }}"
        alt="Channel Image"
        class="w-full h-32 rounded-lg mb-2"
      />
      <div
        class="absolute bottom-0 left-0 bg-gradient-to-t from-black opacity-50 w-full h-1/6"
      ></div>
    </div>
    <div class="mt-2">
      <p class="text-sm text-gray-400 font-semibold">
        Channel Name: {{ channel.channelName }}
      </p>
      <p class="text-xs text-gray-500">
        Followers: {{ channel.followers.length }}
      </p>
    </div>
    <div class="mt-4 flex justify-between">
     
      <button
        *ngIf="!isFollowing(channel)"
        type="button"
        (click)="follow(channel)"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Follow
      </button>


      <button
        *ngIf="isFollowing(channel)"
        type="button"
        (click)="unFollow(channel)"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
      >
        Unfollow
      </button>
    </div>
  </div>
</div> -->

<!-- carousel card from ngPrime -->
<div class="card relative">
  <p-carousel
    [value]="_recommendedChannels"
    [numVisible]="3"
    [numScroll]="3"
    [responsiveOptions]="_responsiveOptions"
  >
    <ng-template let-channel pTemplate="item">
      <div class="border p-2 m-3 rounded">
        <div class="relative">
          <img
            src="http://localhost:3000/channelBanner/{{ channel.banner }}"
            alt="Channel Image"
            class="w-full h-56 rounded-lg mb-2 px-10 relative z-10"
          />
        
        </div>
        <div class="mt-2">
          <p class="text-sm text-gray-400 font-semibold">
            Channel Name: {{ channel.channelName }}
          </p>
          <p class="text-xs text-gray-500">
            Followers: {{ channel.followers.length }}
          </p>
        </div>
        <div class="mt-4 flex justify-between items-center">
          <button
            *ngIf="!isFollowing(channel)"
            type="button"
            (click)="follow(channel)"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Follow
          </button>
        
          <button
            *ngIf="isFollowing(channel)"
            type="button"
            (click)="unFollow(channel)"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Unfollow
          </button>
        </div>
        
      </div>
    </ng-template>
  </p-carousel>
</div>


<!-- Recommended Lives from Game -->
<h2 class="text-xl font-bold mt-8 mb-4">Recommended Lives from Game</h2>

<div class="card relative">
  <ng-container *ngIf="_recommendedLives && _recommendedLives.length > 0; else noLivesTemplate">
    <p-carousel
      [value]="_recommendedLives"
      [numVisible]="3"
      [numScroll]="3"
      [responsiveOptions]="_responsiveOptions"
    >
      <ng-template let-channel pTemplate="item">
        <div class="border p-2 m-3 rounded">
          <div class="relative">
            <img
              src="http://localhost:3000/channelBanner/{{ channel.banner }}"
              alt="Channel Image"
              class="w-full h-56 rounded-lg mb-2 px-10 relative z-10"
            />
          </div>
          <div class="mt-2">
            <p class="text-sm text-gray-400 font-semibold">
              Channel Name: {{ channel.channelName }}
            </p>
            <p class="text-xs text-gray-500">
              Followers: {{ channel.followers.length }}
            </p>
          </div>
          <div class="mt-4 flex justify-between items-center">
            <button
              *ngIf="!isFollowing(channel)"
              type="button"
              (click)="follow(channel)"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
              Follow
            </button>
        
            <button
              *ngIf="isFollowing(channel)"
              type="button"
              (click)="unFollow(channel)"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            >
              Unfollow
            </button>
        
            <div [ngClass]="{'live-container': channel.isLive}">
              <div *ngIf="channel.isLive" class="flex">
                <div class="h-3 w-3 rounded-full mr-2 bg-red-500 animate-ping"></div>
                <p class="font-semibold">On Air {{channel?.liveRoom}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-container>
  
  <ng-template #noLivesTemplate>
    <div class="p-4 text-center my-10 text-gray-500">
      <p class="text-lg text-lime-300">No live available😒</p>
    </div>
  </ng-template>
</div>

<!-- Cards for Recommended Lives from Game -->
<!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
  <div
    class="border rounded shadow-md p-4 cursor-pointer transition duration-300"
  >
    <div
      class="rounded-lg shadow-md p-4 cursor-pointer transition duration-300"
    >
      <img
        src="https://www.shutterstock.com/shutterstock/photos/2193104729/display_1500/stock-photo-excited-female-streamer-playing-a-video-game-online-stylish-woman-streaming-gameplay-from-her-home-2193104729.jpg"
        alt="Channel Image"
        class="w-full h-3/6 rounded-lg mb-2 common-image-size"
      />
      <p class="text-sm text-gray-400 font-semibold">
        Channel Name: Sports Hub
      </p>
      <p class="text-xs text-gray-500">Live Name: Game Time Live</p>
      <p class="text-xs text-gray-500">Views: 732</p>
      <p class="text-xs text-gray-500">
        Live Description: Get ready for some action-packed sports!
      </p>
    </div>
  </div>
   <div
    class="border rounded-lg shadow-md p-4 cursor-pointer transition duration-300"
  >
    <div
      class="rounded-lg shadow-md p-4 cursor-pointer transition duration-300"
    >
      <img
        src="https://www.shutterstock.com/shutterstock/photos/1900460083/display_1500/stock-photo-streamer-young-man-rejoices-in-victory-professional-gamer-playing-online-games-computer-with-1900460083.jpg"
        alt="Channel Image"
        class="w-full h-3/6 rounded-lg mb-2 common-image-size"
      />
      <p class="text-sm text-gray-400 font-semibold">
        Channel Name: Music Beats
      </p>
      <p class="text-xs text-gray-500">Live Name: Concert Live</p>
      <p class="text-xs text-gray-500">Views: 387</p>
      <p class="text-xs text-gray-500">
        Live Description: Feel the rhythm and groove along!
      </p>
    </div>
  </div>
  <div
    class="border rounded-lg shadow-md p-4 cursor-pointer transition duration-300"
  >
    <div
      class="rounded-lg shadow-md p-4 cursor-pointer transition duration-300"
    >
      <img
        src="https://www.shutterstock.com/shutterstock/photos/2154493101/display_1500/stock-photo-young-handsome-vlogger-pro-gamer-waving-hand-to-camera-says-hello-to-his-subscribers-and-followers-2154493101.jpg"
        alt="Channel Image"
        class="w-full h-3/6 rounded-lg mb-2"
      />
      <p class="text-sm text-gray-400 font-semibold">
        Channel Name: Cooking Channel
      </p>
      <p class="text-xs text-gray-500">Live Name: Culinary Delights</p>
      <p class="text-xs text-gray-500">Views: 198</p>
      <p class="text-xs text-gray-500">
        Live Description: Discover delicious recipes and cooking tips!
      </p>
    </div>
  </div> -->
  <!-- Add more cards as needed -->
<!-- </div>  -->

<!-- Recommended Lives from Tutorials -->
