// .card {
//   transition: transform 0.3s ease-in-out;
// }

// .card:hover {
//   transform: scale(1.05);
// }

button {
  transition: background-color 0.3s ease-in-out;
}

.swiper {
  width: 600px;
  height: 300px;
}

/* styles.css or component-specific CSS file */
.live-container {
  padding-top: 0.5rem;
  border: 2px solid red;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.1);
}


// #livecard{
//   border: 1px lightcoral solid;
//   border-radius: 1.2rem;
// }

