<app-admin-header></app-admin-header>
<app-admin-sidebar></app-admin-sidebar>
<!-- Content -->
<div class="ml-64 p-8 mt-20">
  <!-- Table -->
  <table class="min-w-full">
    <thead>
      <tr>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          ID
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Username
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Channel Name
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Followers
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Subscriptions
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Banner Image
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          isblocked
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Videos
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          Lives
        </th>
        <th
          class="px-6 py-3 bg-gray-800 text-left text-xs leading-4 font-medium text-gray-300 uppercase tracking-wider"
        >
          See Followers
        </th>
      </tr>
    </thead>
    <tbody class="bg-gray-700 text-yellow-100 divide-y divide-gray-600">
      <tr *ngFor="let channel of _channels; let i = index">
        <td class="px-6 py-4 whitespace-pre-wrap">{{ i + 1 }}</td>
        <td class="px-6 py-4 whitespace-pre-wrap">{{ channel.username }}</td>
        <td class="px-6 py-4 whitespace-pre-wrap">{{ channel.channelName }}</td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          {{ channel.followers.length }}
        </td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          {{ channel.subscription }}
        </td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          <img
            src="http://localhost:3000/channelBanner/{{ channel?.banner }}?"
            alt="Banner Image"
            class="w-20 h-20 object-cover"
          />
        </td>
        <td
          class="px-6 py-4 whitespace-pre-wrap flex items-center justify-center"
        >
          <label class="inline-flex items-center me-5 cursor-pointer">
            <input
              type="checkbox"
              value=""
              class="sr-only peer"
              [checked]="channel.isblocked"
              (change)="toggleBlockStatus(channel)"
            />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"
            ></div>
          </label>
        </td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          {{ channel.video.length }}
        </td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          {{ channel.lives.length }}
        </td>
        <td class="px-6 py-4 whitespace-pre-wrap">
          <button
            class="btn bg-blue-500 p-3 rounded-md hover:bg-opacity-20 transition"
            (click)="viewFollowers(channel)"
          >
            See Followers
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="card flex justify-content-center">
    <p-dialog
      header="Followers"
      [modal]="true"
      [(visible)]="_isVisible"
      [style]="{ width: '25rem' }"
    >
      <ul *ngIf="_followers.length > 0; else noFollowers">
        <li class="flex justify-around" *ngFor="let follower of _followers">
          <a (click)="showUserDetails(follower.userId)">
            {{ follower.username }}
          </a>
          <button
            class="underline text-blue-500"
            (click)="showUserDetails(follower.userId)"
          >
            View Profile
          </button>
        </li>
      </ul>
      <ng-template #noFollowers>
        <p>No followers</p>
      </ng-template>
    </p-dialog>
  </div>

  <div class="card flex justify-content-center">
    <!-- <p-button  label="Show" /> -->
    <p-dialog
      header="Header"
      [modal]="true"
      [(visible)]="_isUserDataVisible"
      [style]="{ width: '28rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [maximizable]="true"
    >
      <div *ngIf="_user; else noUser">
        <!-- <div class="profile-card">
          <img src="" alt="Profile Picture" class="profile-pic">
          <div class="card-body">
            <h3>{{ user.username }}</h3>
            <p>{{ user.email }}</p>
             Add more details as needed -->
        <!-- </div>
        </div>  -->
        <div class="card w-96 bg-base-100 shadow-xl image-full">
          <figure>
            <img
              src="https://imgs.search.brave.com/TqxFuZ3Dfp6U4sxR39pY6gzhovk92NF6HzC9oQ7SzKc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA3LzI1LzQyLzE0/LzM2MF9GXzcyNTQy/MTQwOF9yQ1I0Zlla/Qlh5c0dtRnIybG1m/T3ZNUGJsdGQxTmtt/aS5qcGc"
              alt="Shoes"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">User-Profile</h2>
            <h3>{{ _user.username }}</h3>
            <p>{{ _user.email }}</p>
          </div>
        </div>
      </div>

      <ng-template #noUser>
        <p>No user details available</p>
      </ng-template>
    </p-dialog>
  </div>

  <div class="pagination-controls flex justify-center items-center mt-4">
    <button
      type="button"
      (click)="prevPage()"
      class="px-4 py-2 rounded-md bg-gray-800 text-gray-200 hover:bg-gray-700 focus:outline-none focus:bg-gray-700"
    >
      Previous
    </button>
    <span class="text-white">Page {{ _currentPage }} of {{ _totalPages }}</span>
    <button
      type="button"
      (click)="nextPage()"
      class="px-4 py-2 rounded-md bg-gray-800 text-gray-200 hover:bg-gray-700 focus:outline-none focus:bg-gray-700"
    >
      Next
    </button>
  </div>

  <!-- <div class="modal" [class.show]="isVisible" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Followers</h2>
      <ul *ngIf="followers.length > 0; else noFollowers">
        <li class="flex justify-around" *ngFor="let follower of followers">
          <a (click)="showUserDetails(follower.userId)">
            {{ follower.username }}
          </a>
          <button class="underline text-blue-500" (click)="showUserDetails(follower.userId)">View Profile</button>
        </li>
      </ul>
      <ng-template #noFollowers>
        <p>No followers</p>
      </ng-template>
    </div>
  </div>
   -->

  <!-- <div class="modal" [class.show]="isUserDataVisible" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>User Profile Card</h2>
      <div *ngIf="user; else noUser">
        <div class="profile-card">
          <img src="https://imgs.search.brave.com/TqxFuZ3Dfp6U4sxR39pY6gzhovk92NF6HzC9oQ7SzKc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA3LzI1LzQyLzE0/LzM2MF9GXzcyNTQy/MTQwOF9yQ1I0Zlla/Qlh5c0dtRnIybG1m/T3ZNUGJsdGQxTmtt/aS5qcGc" alt="Profile Picture" class="profile-pic">
          <div class="card-body">
            <h3>{{ user.username }}</h3>
            <p>{{ user.email }}</p>
            < Add more details as needed -->
  <!-- </div>
        </div>
      </div>
      <ng-template #noUser>
        <p>No user details available</p>
      </ng-template>
    </div>
  </div>  -->
</div>
